@import 'reset';
@import 'variables';
@import 'function';

// body {
//     background-color: color(color-primary);
//     // overflow-x: hidden;
// }
nav {
    height: 5rem;
    // width: 100vw;
    background-color: color(nav-bg-color);
    box-shadow: 0 4px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70vw;
    }
    
    .nav-container a {
        color: white;
        font-family: "Montserrat:ital";
        font-weight: 500;
        font-size: 1.5rem;
        text-decoration: none;
    }
}
.homepage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    #{&}-loading {
        height: 100vh;
        width: 50vh;
        h2 {
            margin-top: 3rem;
            font-size: 5rem;
            color: white;
            
        }
    }
 
}
.homepage-employee__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    // background-color: rgba(0, 0, 126, 0.329);
    height: 100vh;
    width: 95vw;

}
section {
    display: flex;
    justify-content: center;

    .card-container {
        background-color: rgba(189, 189, 2, 0.801);
        margin: 10px;
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        
        flex-direction: column;
        height: 500px;
        width: 400px;
        margin-bottom: 30px;
        // margin-left: 10px;

    }
}
.card-container > div {
    // background-color: green;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.card-container__details {
    // background-color: green;
    // padding-top: (1rem + 0.5vw);
    padding: 20px;
    // color: rgba(78, 35, 35, 0.815);
    font-size: 1.2rem;
    #{&}--heading {
        display: flex;
        justify-content: center;
        color: white;
        padding-bottom: 20px;
    }
    p {
        color: black;
        line-height: 1.8rem;
    }

}

.card-container__buttons {
    background-color: red;
    height: 100%;
    width: 100%;
   
    // justify-content: space-around;
    #{&}--items {
        display: flex;
        height: inherit;
        width: inherit;
        justify-content: space-around;
        align-items: center;
    }
}
.card-container__buttons--items-first,
.card-container__buttons--items-second,
.card-container__buttons--items-third {
    padding: 5px;
    border: 5px;
    font-size: 1.0rem;
    cursor: pointer;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(78, 29, 192, 0.801);
        transform: scale(0);
        transform-origin: left;
        transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
        z-index: -1;
    }
    &:hover::before {
        transform: scale(1);
        z-index: 1;
        color: white;
    }
}

// Style Add employee section

.form-container {
    height: 100vh;
    // width: 100vw;
    // background-color: green;
    display: flex;
    justify-content: center;

}
.form-container > div {
    margin-top: 20px;
    height: 100vh;
    // width: 90vw;
    // background-color: green;
}
form {

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    label {
        color: rgb(22, 22, 7);
        font-size: 1.5rem;
        margin-left: -273px;
        position: relative;
        
    }
    .name, .email {
        margin-left: -365px;
    }
    .company {
        margin-left: -330px;
    }
    .address {
        margin-left: -350px;
    }
    .image {
        margin-left: -350px;
    }
 
    
    input {
        padding: 10px;
        width: calc(10rem + 20vw);
        margin-bottom: 20px;
        // height: ;
    }
}
$bpMobile: 1000px;
@mixin media-mobile {
    @media screen and (max-width: $bpMobile){
        @content;
    }
}
.img-container {
    position: absolute;
    background-color: purple;
    display: flex;
    top: 400px;
    left: calc(250px + 20vw);
    @include media-mobile {
        top: 500px;
        left: 150px;
    }
    #{&}-box-1,
    #{&}-box-2 {
        height: 150px;
        width: 150px;
    } 
    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        
    }
    button {
        // margin-top: 500px;
        width: 100%;
        cursor: pointer;
    }

}
.uploadImg {
    padding: 10px;
    // width: calc(10rem + 20vw);
}
.post-btn {
    padding: 10px;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    @include media-mobile {
        margin-top: 100px;
    }
}
.post-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 46, 18, 0.548);
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    
}
.post-btn:hover::before {
    transform: scale(1);
}
.post-btn {
    z-index: 1;
}
// styling employee of the months
$bpMobile-2: 800px;
@mixin media-mobile-2 {
    @media screen and (max-width: $bpMobile-2){
        @content;
    }
}
.employee-ofMonth {
    display: flex;
    margin: 50px;
    #{&}__img {
        margin-right: 30px;
        // background-color: blue;
    }
    #{&}__text {
        font-size: 1.3rem;
        border-radius: 10px;
        box-shadow: 0 5px 5px rgb(36, 56, 236);
        background-color: rgba(255, 8, 8, 0.596);
        padding: 10px;
        span {
            font-size: 2rem;
            padding: 1rem;
            color: yellow;
            
        }
        h6 {
            margin-top: 1rem;
            font-size: 1.2rem;
            color: rgb(247, 244, 239);
        }
    }
    img {
        object-fit: cover;
    }
    @include media-mobile-2 {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.employee-ofMonth-btn > button {
    padding: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.582);
    &:hover {
        background-color: burlywood;
    }
}

.employee-ofMonth__text--value {
    // padding: 20px;
    margin-top: 50px;
    // background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;

}
.empty-eom {
    margin-left: 20vw;
    margin-top: 20px;
    padding: 50px;
    height: 50vh;
    width: 50vw;
    background-color: yellow;
}