*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  height: 5rem;
  background-color: rgba(38, 14, 194, 0.911);
  -webkit-box-shadow: 0 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70vw;
}

nav .nav-container a {
  color: white;
  font-family: "Montserrat:ital";
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
}

.homepage .homepage-loading {
  height: 100vh;
  width: 50vh;
}

.homepage .homepage-loading h2 {
  margin-top: 3rem;
  font-size: 5rem;
  color: white;
}

.homepage-employee__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  height: 100vh;
  width: 95vw;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .card-container {
  background-color: rgba(189, 189, 2, 0.801);
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 400px;
  margin-bottom: 30px;
}

.card-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container > div img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-container__details {
  padding: 20px;
  font-size: 1.2rem;
}

.card-container__details .card-container__details--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-bottom: 20px;
}

.card-container__details p {
  color: black;
  line-height: 1.8rem;
}

.card-container__buttons {
  background-color: red;
  height: 100%;
  width: 100%;
}

.card-container__buttons .card-container__buttons--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container__buttons--items-first,
.card-container__buttons--items-second,
.card-container__buttons--items-third {
  padding: 5px;
  border: 5px;
  font-size: 1.0rem;
  cursor: pointer;
  position: relative;
}

.card-container__buttons--items-first:before,
.card-container__buttons--items-second:before,
.card-container__buttons--items-third:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(78, 29, 192, 0.801);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}

.card-container__buttons--items-first:hover::before,
.card-container__buttons--items-second:hover::before,
.card-container__buttons--items-third:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
  color: white;
}

.form-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container > div {
  margin-top: 20px;
  height: 100vh;
}

form {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

form label {
  color: #161607;
  font-size: 1.5rem;
  margin-left: -273px;
  position: relative;
}

form .name, form .email {
  margin-left: -365px;
}

form .company {
  margin-left: -330px;
}

form .address {
  margin-left: -350px;
}

form .image {
  margin-left: -350px;
}

form input {
  padding: 10px;
  width: calc(10rem + 20vw);
  margin-bottom: 20px;
}

.img-container {
  position: absolute;
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 400px;
  left: calc(250px + 20vw);
}

@media screen and (max-width: 1000px) {
  .img-container {
    top: 500px;
    left: 150px;
  }
}

.img-container .img-container-box-1,
.img-container .img-container-box-2 {
  height: 150px;
  width: 150px;
}

.img-container img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-container button {
  width: 100%;
  cursor: pointer;
}

.uploadImg {
  padding: 10px;
}

.post-btn {
  padding: 10px;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .post-btn {
    margin-top: 100px;
  }
}

.post-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(46, 46, 18, 0.548);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: -1;
}

.post-btn:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.post-btn {
  z-index: 1;
}

.employee-ofMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

.employee-ofMonth .employee-ofMonth__img {
  margin-right: 30px;
}

.employee-ofMonth .employee-ofMonth__text {
  font-size: 1.3rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px #2438ec;
          box-shadow: 0 5px 5px #2438ec;
  background-color: rgba(255, 8, 8, 0.596);
  padding: 10px;
}

.employee-ofMonth .employee-ofMonth__text span {
  font-size: 2rem;
  padding: 1rem;
  color: yellow;
}

.employee-ofMonth .employee-ofMonth__text h6 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #f7f4ef;
}

.employee-ofMonth img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 800px) {
  .employee-ofMonth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.employee-ofMonth-btn > button {
  padding: 8px;
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.582);
}

.employee-ofMonth-btn > button:hover {
  background-color: burlywood;
}

.employee-ofMonth__text--value {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10%;
}

.empty-eom {
  margin-left: 20vw;
  margin-top: 20px;
  padding: 50px;
  height: 50vh;
  width: 50vw;
  background-color: yellow;
}
/*# sourceMappingURL=App.css.map */